<div th:fragment="stopwatch(timeStore)" class="wrapper">
<!--  https://codepen.io/cathydutton/pen/GBcvo-->
<!--  <h1>Stopwatch</h1>-->
<!--  <h2>Vanilla JavaScript Stopwatch</h2>-->

  <form th:action="@{/saveTime}" th:object="${timeStore}" method="post">

  <label for="pselect">Timer for process:</label><br>
  <select th:if="${timeStore != null}" id="pselect" th:field="*{selectedProcessId}" >
    <option th:each="process: ${processStore.getProcesses()}" th:value="${process.getId()}" th:text="${process.getDescription()}"></option>
  </select><br>

  <span id="seconds">00</span>:<span id="tens">00</span>
    <div class="btn-toolbar" role="toolbar" aria-label="Basic example">
  <button type="button" id="button-start">Start</button>
  <button type="button" id="button-stop">Stop</button>
  <button type="button" id="button-reset">Reset</button>
    </div>

<!--  <input type="text" id="myTimeInput" value="" >-->

  <input type="hidden" step="0.01" id="timeInputMinutes" th:field="*{minutes}" >
  <input type="hidden" step="0.01" id="timeInputSeconds" th:field="*{seconds}">

  <button type="submit" id="button-submit">SaveTime</button>
  </form>
<script>
  window.onload = function () {

    //KÓD JE POUPRAVENÝ TENS JSOU VTEŘINY A SECONDS MINUTY
    let seconds = 0;
    let tens = 0;
    let appendTens = document.getElementById("tens")
    let appendSeconds = document.getElementById("seconds")
    let buttonStart = document.getElementById('button-start');
    let buttonStop = document.getElementById('button-stop');
    let buttonReset = document.getElementById('button-reset');
    let Interval;

    buttonStart.addEventListener("click", e=>{
      clearInterval(Interval);
      Interval = setInterval(startTimer, 1000);
    });

    buttonStop.onclick = function() {
      clearInterval(Interval);
    }


    buttonReset.onclick = function() {
      clearInterval(Interval);
      tens = "00";
      seconds = "00";
      appendTens.innerHTML = tens;
      appendSeconds.innerHTML = seconds;

      document.getElementById("timeInputSeconds").value = 0;
      document.getElementById("timeInputMinutes").value = 0;
    }



    function startTimer () {
      tens++;

      document.getElementById("timeInputSeconds").value = tens;
      document.getElementById("timeInputMinutes").value = seconds;

      if(tens <= 9){
        appendTens.innerHTML = "0" + tens;

      }

      if (tens > 9){
        appendTens.innerHTML = tens;

      }

      if (tens > 59) {
        console.log("seconds");
        seconds++;
        appendSeconds.innerHTML = "0" + seconds;
        tens = 0;
        appendTens.innerHTML = "0" + 0;
      }

      if (seconds > 9){
        appendSeconds.innerHTML = seconds;
      }

    }


  }
</script>
</div>
