<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<h1>Přidání projektu</h1>
<p>
    <form action= "#" th:action="@{/create}" th:object="${project}" method="post">
        <label for="fname">Project name:</label><br>
        <input type="text" th:field="*{description}" id="fname" name="fname"><br>
        <label for="lname">Deadline:</label><br>
        <input type="text" th:field="*{deadline}" id="lname" name="lname"><br>
    <button type="submit">Add project</button>
    </form>

</p>
</body>
</html>