<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>DeleteTask</title>
</head>
<body>
<div th:insert="fragments/topbar :: topbar"></div>

<form th:action="@{/project/{projectId}(projectId = ${process.getParentId()})}">
    <input type="submit" value="Back"/>
</form>

<h1>Are you sure about deleting task?</h1>

<form action= "#" th:action="@{/deleteTask/{taskId}(taskId = ${task.getId()})}" th:object="${task}" method="post">
    <label for="delbtn" th:text="${task.getDescription()}">:</label><br>
    <button id="delbtn" type="submit">Opravdu smazat!</button>
</form>

</body>
</html>