<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>DeleteProject</title>
</head>
<body>
<div th:insert="fragments/topbar :: topbar"></div>


<form th:action="@{/}">
    <input type="submit" value="Back"/>
</form>

<h1>Are you sure about deleting project with processes and tasks in it?</h1>

<form action= "#" th:action="@{/deleteProject/{projectId}(projectId = ${project.getId()})}" th:object="${project}" method="post">
    <label for="delbtn" th:text="${project.getDescription()}">:</label><br>
    <button id="delbtn" type="submit" class="btn btn-outline-danger">Opravdu smazat!</button>
</form>

</body>
</html>