<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>TodoList</title>
</head>
<body>
<h1>Todo List With Benefits</h1>
<h4 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h4>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Odhlásit!"/>
</form><br>

<form th:action="@{/createProject}">
    <input type="submit" value="Vytvořit projekt!"/>
</form>


<h2>Zvol si svůj projekt</h2>
<p>
<table border="1">
    <tr>
        <th>Jméno projektu</th>
        <th>Čas vyhrazený pro projekt</th>
        <th>Čas nepřidělený procesům</th>
    </tr>
    <tr th:each="project: ${projectStore.getProjects()}">
        <td th:text="${project.getDescription()}"></td>
        <td th:text="${project.getDeadline()}"></td>
        <td th:text="${project.getNonAlocatedTime()}"></td>
        <td>
            <form th:action="@{/project/{id}(id=${project.getId()})}">
                <input type="submit" value="Otevřít"/>
            </form>
        </td>
        <td>
            <form th:action="@{/editProject/{id}(id=${project.getId()})}">
                <input type="submit" value="Upravit!"/>
            </form>
        </td>

        <td>
            <form th:action="@{/deleteProject/{id}(id=${project.getId()})}">
                <input type="submit" value="Smazat!"/>
            </form>
        </td>
    </tr>
</table>
</p>
</body>
</html>