<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>TodoList</title>
</head>
<body>
<h1>Todo List With Benefits</h1>

<form th:action="@{/createProject}">
    <input type="submit" value="Vytvořit projekt!"/>
</form>

<h2>Zvol si svůj projekt</h2>
<p>
<table border="1">
    <tr>
        <th>Jméno projektu</th>
        <th>Termín dokončení</th>
    </tr>
    <tr th:each="project: ${projectStore.getProjects()}">
        <td th:text="${project.getDescription()}"></td>
        <td th:text="${project.getDeadline()}"></td>
        <td>
            <form th:action="@{/project/{id}(id=${project.getId()})}">
                <input type="submit" value="Otevřít"/>
            </form>
        </td>
    </tr>
</table>
</p>
</body>
</html>