<!DOCTYPE html>
<head xmlns:th="http://www.w3.org/1999/html">
    <meta charset="UTF-8">
    <title>Project</title>
</head>
<body>

<div th:insert="fragments/topbar :: topbar"></div>

<h1 th:text="${project.getDescription()}"></h1>

<div id="timer" th:if="${processStore != null && processStore.getProcesses().size() > 0}">
<label for="pselect">Timer for process:</label><br>
<select id="pselect" >
    <option th:each="process: ${processStore.getProcesses()}" th:value="${process.getId()}" th:text="${process.getDescription()}"></option>
</select><br>
<div th:insert="fragments/stopwatch :: stopwatch"></div>
</div>
<form th:action="@{/createProcess/{parentId}(parentId=${project.getId()})}">
    <input type="submit" value="Přidat proces!"/>
</form>
<!--<h1 th:text="${project.getCurrentDate()}"></h1>-->
<!--<p th:text="${project.getDateDifference()}"></p>-->

<h1 th:if="${ processStore == null || processStore.getProcesses().size() == 0}"> Neobsahuje žádné procesy!</h1>

<!--Wrapnout eache do if divu jelikož each má přednost před ifem na stejném řádku-->
<span th:if="${processStore != null && processStore.getProcesses() != null && processStore.getProcesses().size() > 0}">
<th:block th:each="process: ${processStore.getProcesses()}">
    <h1 th:text="${process.getDescription()}"></h1>

          <form th:action="@{/deleteProcess/{processId}(processId=${process.getId()})}">
            <input type="submit" value="Smazat!"/>
        </form>

     <h3>Čas vyhrazený pro proces:</h3>
    <h3 th:text="${process.getDeadline()}"></h3>
    <h3>Celkový čas ke splnění úloh:</h3>
    <h3 th:if="${process != null && process.getTasks().size > 0}" th:text="${process.getDeadlineSum()}"></h3>

    <form th:action="@{/createTask/{parentId}(parentId=${process.getId()})}">
        <input type="submit" value="Přidat úlohu!"/>
    </form>

<table th:if="${processStore.getProcesses() != null && process.getTasks().size() > 0}" border="1">
    <tr>
        <th>Task</th>
        <th>V jaký čas od startu začít</th>
        <th>Čas přidělený k úloze</th>
        <th>Časová rezerva</th>
    </tr>
    <tr th:if="${!task.isOnlyNode()}" th:each="task: ${process.getTasks()}">
    <td th:text="${task.getDescription()}"></td>
    <td th:text="${task.getCost()}"></td>
    <td th:text="${task.getDeadline()}"></td>
    <td th:text="${task.getTimeReserve()}"></td>
    <td>
        <form th:action="@{/markTask/{taskId}(taskId=${task.getId()})}">
            <input type="submit" value="Done"/>
        </form>
    </td>

    <td>
         <form th:action="@{/editTask/{taskId}(taskId=${task.getId()})}">
                <input type="submit" value="Upravit!"/>
            </form>
    </td>
    <td>
        <form th:action="@{/deleteTask/{taskId}(taskId=${task.getId()})}">
            <input type="submit" value="Smazat!"/>
        </form>
    </td>
    </tr>
</table>
</th:block>
</span>
</body>
</html>