<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Project</title>
</head>
<body>
<p>
<!--    Project name:-->
    <h1 th:text="${project.getDescription()}"></h1>
<h2 th:text="${process.getDescription()}"></h2>
<table border="1">
    <tr>
        <th>Task</th>
        <th>Estimated Time</th>
        <th>Current time</th>
        <th>Show relations</th>
    </tr>
    <tr th:each="task: ${process.getTasks()}">
    <td th:text="${task.getDescription()}"></td>
    <td th:text="${task.getCost()}"></td>
<!--        <td><th:block th:text="${task.getPreviousPosition()}">estimatedTime</th:block></td>-->
        <td></td>
        <td></td>
    </tr>
</table>
</p>
</body>
</html>